{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:unicorn/recommended"
  ],
  "env": { "browser": true, "node": true },
  "plugins": ["react-refresh"],
  "settings": { "react": { "version": "18.2" } },
  "rules": {
    "react/prop-types": "off",
    "react-refresh/only-export-components": "warn",
    "jsx-a11y/label-has-associated-control": "off",
    "unicorn/no-null": "off"
  }
}
