* {
  box-sizing: border-box;
  border: 0 solid theme('colors.default.200');
}

html {
  font-family: 'Instrument Sans Variable', sans-serif;
  line-height: 1.5;
  min-width: 375px;
  overflow-x: hidden;
}

:where(body, h2, p, figure, ul) {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  margin-block: 0 0.5rem;
}

h2 {
  font-size: inherit;
}

p {
  color: theme('colors.default.300');
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
  padding: 0;
}

dialog {
  background-color: theme('colors.default.400');
  border-radius: 0.75rem;
  bottom: 0;
  color: theme('colors.default.100');
  font-weight: 600;
  margin-bottom: 2.5rem;
  padding: 1rem 1.5rem;
  position: fixed;
}

:where(button, input) {
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
}

button {
  border-radius: 0.5rem;
  font-weight: 600;
  padding-block: 0.75rem;
}

button:not(:disabled) {
  cursor: pointer;
}

input {
  caret-color: theme('colors.primary.300');
  outline: none;
  width: 100%;
}

input::placeholder {
  color: theme('colors.default.400 / 50%');
}

.mockup * {
  border-color: theme('colors.default.300');
}

.picture-input span {
  display: none;
}

.picture-input:hover span {
  display: flex;
}

@media (min-width: 640px) {
  h1 {
    font-size: 2rem;
  }
}
